
.botoes-jogo{
    width: 60px;
    height: 60px;
    border: 2px solid var(--branco);
    background-color: var(--verde);
    border-radius: 10px;
}

.botoes-jogo:active{
    background-color: var(--vermelho);
}

#norte{
    position: absolute;
    bottom: 17%;
    left: 5%;
}

#centro{
    position: absolute;
    bottom: 10%;
    left: 5%;
    background-color: var(--branco);
}

#sul{
    position: absolute;
    bottom: 3%;
    left: 5%;
}

#leste{
    position: absolute;
    bottom: 10%;
    left: 2%;
}

#oeste{
    position: absolute;
    bottom: 10%;
    left: 8%;
    
}

#nave-update{
    top: 20%;
    left: 1%;
    position: absolute;
    border: 2px solid var(--verde);
}
