@media screen and (min-width:300px) and (max-width:1000px) {
    main {
        width: 100%;
        height: 100%;
        background-color: var(--cinza);
        background-position: center;
        background-size: cover;
        margin-top: 0;
    }

    #palco{
        border: none;
    }

    body{
        background-color: var(--cinza);
    }


    #nave{
        position: relative;
        top: 60%;
        left: 40%;
        width: 20%;
    }

    h1,
    p {
        font-size: 1em;
    }

    #centro{
        position: absolute;
        bottom: 13%;
        left: 8%;
        border: 2px solid var(--preto);
    }

    #norte{
        position: absolute;
        bottom: 26%;
        left: 8%;
    }
    
    #sul{
        position: absolute;
        bottom: 0;
        left: 8%;
    }
    
    #leste{
        position: absolute;
        bottom: 13%;
        left:0;
    }
    
    #oeste{
        position: absolute;
        bottom: 13%;
        left: 16%;
        
    }

    .botoes-jogo{
        width: 8vw;
        height: 13vh;
        border: 2px solid var(--branco);
        background-color: var(--verde);
        border-radius: 10px;
    }
    #chuva, #solar{
        border: 2px solid var(--preto);
        height: 55%;
    }

    .icone{
        margin: .5em;
        width: 15vw;
        text-align: center;
    }
    #nave-update{
        position: absolute;
        top: 20%;
        left: 1%;
        border: 2px solid var(--preto);
    }

}
