@media screen and (min-width:300px) and (max-width:1000px) {
    .paniel-nave {
        height: 55px;
        background: var(--branco-tranparente);
        display: flex;
        justify-content: space-between;
        border: 3px solid var(--branco);
        box-shadow: 5px 10px var(--preto);
        color: var(--preto);
    }
    .icone{
        margin: .5em;
        width: 20vw;
        text-align: center;
    }

    p,
    h1 {
        font-family: 'Fonte-jogo';
        font-size: 18px;
        margin: .8;
    }

    #nave{
        width: 20%;
        top: 80%;
    }
    
}
